.activities-section {
  @apply py-12 relative;
  
}

.activities-container {
  @apply container mx-auto px-4;
  
}

.activities-title {
  @apply text-3xl font-bold text-center mb-8 text-gray-800 dark:text-white;
}

.activities-grid {
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6;
  
}

.activity-card {
  @apply bg-white dark:bg-gray-700 rounded-lg shadow-md overflow-hidden transition-all duration-300;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
}

.dark .activity-card {
  background-color: rgba(31, 41, 55, 0.8);
}

.activity-image-container {
  @apply relative overflow-hidden;
  
}

.activity-image {
  @apply w-full h-48 object-cover transition-transform duration-300 ease-in-out;
  border-radius: 15px;
}

.activity-overlay {
  @apply absolute inset-0 bg-black bg-opacity-50 flex items-center justify-center opacity-0 transition-opacity duration-300 ease-in-out;
  
}

.activity-description {
  @apply text-white text-center px-4;
}

.activity-content {
  @apply p-4;
}

.activity-name {
  @apply text-xl font-semibold text-center text-gray-800 dark:text-white;
}

.activity-card:hover .activity-image {
  @apply transform scale-110;
  
}

.activity-card:hover .activity-overlay {
  @apply opacity-100;
  
}

/* Nuevo estilo para el efecto hover en móviles */
@media (max-width: 768px) {
  .activity-card.activity-hover .activity-overlay {
    opacity: 1;
  }
  
  .activity-card.activity-hover .activity-image {
    transform: scale(1.1);
  }
}