.slider-section {
  @apply relative w-full h-96 overflow-hidden;
  z-index: 10;
}

.slider {
  @apply relative w-full h-full;
}

.slide {
  @apply absolute top-0 left-0 w-full h-full;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

.slide img {
  @apply w-full h-full object-cover;
}

.slider-button {
  @apply absolute top-1/2 transform -translate-y-1/2 bg-black bg-opacity-50 text-white p-2 rounded-full z-20 transition-opacity duration-300 opacity-0;
}

.slider:hover .slider-button {
  @apply opacity-100;
}

.slider-button-prev {
  @apply left-4;
}

.slider-button-next {
  @apply right-4;
}